<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/style.css">
<link rel="icon" href="/static/favicon.png">
<head>
    <meta charset="UTF-8">
    <title>CV</title>

</head>
<body>
<div>
    <h1>
        Liza Naberezhnaya, CV
    </h1>
    <img src="/static/img.png"/>
    <br>
    Hello, my name is Lisa, I'm student from Moscow
    <br>
    <br>
    I like:
    <ul>
        <li>math</li>
        <li>biology</li>
        <li>physics</li>
    </ul>
    <a href="/on-exit">Another page on this site</a>
</div>
</body>
</html>